doctype html
html
  head
    title Sunrise Alarm Clock
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .title.container
      h1 Sunrise Alarm Clock
    .current.container
      form(action='/forms/animation', method='POST')
        each animation in animations
          input.animation.btn(type="submit", name="animation", value=animation.name, disabled=animation.disabled)
    each alarm,a_i in alarms
      .alarm.container
        form(action="/forms/alarm", method="POST")
          input(type="hidden", name="alarm_index", value=a_i)
          .row
            input.timepicker(type="time", name='alarm_time' value=alarm.time)
            each day,d_i in alarm.days
              label
                input.filled-in(type="checkbox", name=`day_${d_i}`, checked=day)
            input(type="submit", value="Save")
