doctype html
html
  head
    title Sunrise Alarm Clock
    //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .title.container
      h1 Sunrise Alarm Clock
    .current.container
      form(action='/forms/animation', method='POST')
        each animation in animations
          input.btn(type="submit", name="animation", value=animation.name, disabled=animation.disabled)
    each alarm,index in alarms
      .alarm.container
        form(action="/forms/alarm", method="POST")
          .row
            select.input-field(id="alarm[index]hour")
              each hour in alarm.hours
                option(value=hour.value, selected=hour.selected)= hour.label
            select.input-field(id="alarm[index]minute")
              each minute in alarm.minutes
                option(value=minute.value, selected=minute.selected)= minute.label
          .row
            each day,index in alarm.days
              label
                input.filled-in(type="checkbox", checked=day.checked)
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    //script(type="text/javascript").
    //  $(document).ready(function(){
    //    $('select').formSelect();
    //  });
    //  // document.addEventListener('DOMContentLoaded', function() {
    //  //   //var elems = document.querySelectorAll('select');
    //  //   //var instances = M.FormSelect.init(elems, options);
    //  // });
